
{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>
Student_Home<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


    <a href="{% url 'home:otp' %}">
        <button type="button" name="otp" value="otp" id="otp"> OTP </button>
    </a>
<br><br><br><br><br><br><br>

<script>
    function course(course_name) {
            var url = "{%  url 'home:course_details' 'slug' %}"
            document.location.href =  url.replace('slug',course_name );

}

</script>
{% endblock %}

